<template>
  <div>
    <p>{{text | reverse }}</p>

    <p>{{text | length}}</p>

    <p>{{reverseSecond}}</p>

    <p>{{lengthSecond}}</p>

    <input type="text" v-model="inputText" />
  </div>
</template>

<script>
import { mixin } from "./mixins";
export default {
  mixins: [mixin],
  name: "FilterAndMixin",
  filters: {
    reverse(value) {
      return value
        .split("")
        .reverse()
        .join("");
    }
  },
  data() {
    return {
      text: "Test",
      inputText: "Test"
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
